body.medication-page  {
  height: 100vh;
  margin: 0;
  // background-repeat: no-repeat;
  // background-attachment: fixed;

  background-color: #eff2ff;
  background-size: 200% 200%;
  animation: gradient 1.5s ease infinite;

  margin-top: 60px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: bold;

}

.simple_form{
  background-color: #d1d3f2;
}


// .container.edit-medication-form {
//   max-width: 400px;
//   margin: auto;
//   padding-top: 100px;

// }

// .form-control {
//   // border-radius: 0;
// }

.btn-primary {
  border-radius: 0;
}

.row.g-3.bg-light.p-4.rounded.shadow {

  max-width: 400px;
  margin: auto;
  padding-top: 100px;
  background-color: #a4a4ee;
  // background: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  background-size: 200% 200%;


  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);

  border: none;
}

@keyframes gradient {
  0% {background-position: 100% 50%;}
  50% {background-position: 0% 50%;}
  100% {background-position: 100% 50%;}
}

.medication-title {
  margin-left: -64px;
  font-weight: bold;
  color: #030e81;

  }

  .btn {
    border-radius: 5px;
    margin-right: 1px;
    background-color: #7b7cc5;
    color: #ffff;
  }

  .container {
    border: none;
    box-shadow: none;
  }

  .btn-secondary-margin-left {
    margin-left: 10px;
  }

  // .btn-edit {
  //   transition: all 0.3s ease;
  // }

  // .btn-edit:hover {
  //   transform: translateY(-5px);
  // }




.form-control.is-valid{
  border-color: #37347d;
}

.form-label
{
  color: #030e81;
}

label{
  color: #030e81;
}
