@media screen and (max-width: 768px) {
body {
  margin: 5px;
  padding:9px;
  background: linear-gradient(109.6deg, rgb(110, 132, 164) 11.2%, rgb(6, 120, 201) 91.1%),
  url("your-image-url.jpg") no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  margin-top: -77px;



}
html {
  height: 100%;
  margin: 0;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -48px;
  margin-left: -1px;

}

.carousel-item {
  width: 18rem;
}

.card {
  position: relative;
  width: 100%;
  height: 233px;
  perspective: 1000px;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border: none;
}
  h1{
    padding-left: 9px;
    margin-left: -8px;
}


.card .flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover .flip-card-inner {
  transform: rotateY(180deg);

}

.card .flip-card-front,
.card .flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card .flip-card-back {
  transform: rotateY(180deg);
}
.card .flip-card-inner.flipped {
  transform: rotateY(180deg);
}
.flip-card-back p {
  color: #333;
  margin-bottom: 8px;
}


.flip-card-back p strong {
  color: #ff6347;
}


.carousel-control-prev,
.carousel-control-next {
  font-size: 24px;
  color: #231d1d;
  cursor: pointer;
}


.carousel-control-prev {
  left:-39px;
}

.carousel-control-next {
  right: -38px;
}


    //  pills pulse effect
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    .pill-container {
      position: relative;
      margin-top: 50px;
      margin-left: 50px;
    }

    .pill-wrapper {
      position: absolute;
      animation: pulse 0.4s infinite;
      margin-top: -256px;
      margin-left: 100px;
    }


    .pill-left,
    .pill-right {
      width: 30px;
      height: 30px;
      display: inline-block;
      padding: 21px;
      border: 1px solid #484a4d;
      margin: -2px;
    }

    .pill-left {
      background: linear-gradient(to bottom, #a0e4ef, #0d00ff);
      border-radius: 100% 100% 0 0;
      transform: rotate(39deg);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), inset -2px -2px 5px rgba(255, 255, 255, 0.5);
      margin-bottom: 31px;
      margin-top: -101px;
      margin-left: -5px;
    }

    .pill-right {
      background: linear-gradient(to bottom, #e3e3e3, #f7f7f7);
      border-radius: 100% 100% 0 0;
      transform: rotate(220deg);
      box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3), inset 2px -2px 5px rgba(255, 255, 255, 0.5);
      margin-top: -124px;
      margin-bottom: 20px;
      margin-left:-34px;


    }

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}





.header-1 {

font-family: 'Teko', sans-serif;
font-size: 99px;
font-style: italic;
font-weight: lighter;
letter-spacing: 2px;
line-height: 100px;
text-transform: none;
text-align:left;
margin-top: -36px;

color: rgba(68, 62, 62, 0.847);
}

#clockContainer {
  position: relative;
  margin: auto;
  height: 55vw;
  margin-left: -18px;
  width: 55vw;
  background: url(https://i.ibb.co/vsvTBFF/pngwing-com-1.png) no-repeat;
  background-size: 100%;
  margin-top: 9px;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}


.thirteen h1 {
  color: whitesmoke;
  position: fixed;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 220px;
  text-align: center;
  margin: 48px;
  white-space: nowrap;
  padding: 119px 13px 1px 10px;
  margin-left: -100px;
  margin-top: -185px;
}
.thirteen h1:before, .thirteen h1:after {
    background-color: #00c57d;
    position:absolute;
    content: '';
    height: 7px;


    width: 7px; border-radius:50%;
    bottom: 12px;
}
.thirteen h1:before {
   left:-20px;
}
.thirteen h1:after {
   right:-20px;
}

.quote-container {
  margin-top: 50px;
  position: relative;

}
// .image-index {
//   margin-top: -46px;
//   width: 80%;
//   margin-left: -8px;
//   transform: rotate(340deg);

// }

// .thirteen{
//   padding-top: 14px;
// }
.filter-meds{
  padding: -77px;
  margin-top: -22px;
  margin-left: 1px;
}
}
.hello-msg{
  padding:9px;
  margin:9px;
}
h3{
  font-size: medium;
  margin-left: 13px;
  color: #b3bdc5;
}
.container-index{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}



h2{
  margin-left: -58px;
  margin-top: 79px;
}
.logo-on-index{
  margin-left: 50px;


}
