.medication-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-actions {
  text-align: right;
  margin-top: 15px;
}

.btn {
  padding: 10px 30px;
  border-radius: 50px;
  margin-right: 10px;
}

.btn-primary {
  background-color: #2bbdcd;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn:hover {
  font-weight: bold;
  background-color: #010C80;
  transform: scale(1.1)
}
