.body{
  // background: linear-gradient(to right, rgba(102, 125, 182, 0.5), rgba(0, 130, 200, 0.5), rgba(0, 130, 200, 0.5), rgba(102, 125, 182, 0.5));
  background-color: #eff2ff;
  padding-top: 60px;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;

  .form-title{
    padding:0px;
    margin-top: 20px;
    margin-bottom:20px;





  }
}



.h2new{
  color: #030e81;
  margin-bottom: 20px;
  margin-top: -10px;
}


.medication-form {

  background-size: 300% 300%;


  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

.container {
  max-width: 400px;
  margin: auto;
  padding-top: 80px;
}



@keyframes gradient {
  0% {background-position: 0% 0%;}
  25% {background-position: 100% 0%;}
  50% {background-position: 100% 100%;}
  75% {background-position: 0% 100%;}
  100% {background-position: 0% 0%;}
}


.medication-form .form-control {
  padding: 10px;
  border-radius: 10px;
  border-color: #030e81;;
}

.medication-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;

}

.medication-form .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
  margin-left: 10px;
}


.simple_form medication-form {
  width: calc(100% - 30px);
}



.simple_form{
  background-color: #d1d3f2;
  padding-top: 100px;
}

.btn{
  margin-left:10px;
}
