.medication-form {
  max-width: 300px;
  margin: -3px auto; 
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  max-height: 65vh;
  overflow-y: auto;
  margin-left: 29px;
  width: 80%;
  margin: auto;
  h2{
    margin-left: 48px;
    color: #0816ad;
  }
}


.form-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: calc(100% - 20px); /* Adjust the width and padding as needed */
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-actions {
  text-align: right;
  margin-top: 10px;
}

.btn {
  padding: 8px 15px;
  border-radius: 3px;
  margin-right: 5px;
}

.btn-primary {
  background-color: #2bbdcd;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn:hover {
  font-weight: bold;
  background-color: #010C80;
  transform: scale(1.1);
}
