// @keyframes gradient {
//   0% {background-position: 0% 0%;}
//   50% {background-position: 100% 100%;}
//   100% {background-position: 0% 0%;}
// }

.card-gradient {
  // background: linear-gradient(90deg, #9face6, #f7f5f5,#74ebd5 );
  background-size: 300% 200%;
  animation: gradient 5s ease infinite;
  animation: flip 1s ease;
}


.card-header {
  background-color: #342d91;
  background-size: 200% 200%;
  animation: gradient 1.5s ease infinite;

  h1{
    margin-left: -10px;
  }
}

.card{
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  transition: transform 0.3s ease;


}



.card-footer{
  // border-top: 1px solid #007B83;
  gap: 25px;
  background-color: #eff2ff;

}





@keyframes flip {
  0% {transform: rotateY(0deg);}
  50% {transform: rotateY(90deg);}
  100% {transform: rotateY(0deg);}
}

.card-body {
  margin-left: 0px;
  padding-bottom: 1px;
  padding-top: 15px;
  background-color: #d1d3f2;
}



.btn-show{
  color: #ffff;
  background-color: #7b7cc5;



}
