@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.card-gradient {
  background: linear-gradient(to left, #74ebd5, #9face6, #ffffff);
  background-size: 200% 200%;
  // animation: gradient 10s ease infinite;
}

.card-header {
  background: linear-gradient(90deg, #007B83 0%, #47408B 100%);
  background-size: 200% 200%;
  animation: gradient 2s ease infinite;

  h1{
    margin-left: -10px;
  }
}

// .card{
//   // border: none;

// }

.body-gradient {
  background: linear-gradient(to left, #74ebd5, #9face6, #ffffff);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

// .card-border {
//   // border: 1px solid #74EBD5;
// }

.card-footer{
  border-top: 1px solid #007B83;
}



.transparent-bg {
  background: transparent;

}


// @keyframes slideDown {
//   0% {
//     transform: translateY(-100%);
//     opacity: 0;
//   }
//   100% {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// .card {
//   animation: slideDown 0.5s ease-out;
// }
