body.body-profile {
  background-color: #f8f9fa; /* Set your desired background color */
  margin: 0; /* Remove default margin */
}

// .container.show {
//   display: flex;
//   justify-content: center;
//   align-items: flex-start; /* Align items to the top */
//   height: 100vh;
//   padding-top: 100px; /* Adjust top padding as needed */
//   background-image: url("https://img.freepik.com/free-vector/medical-design-poster-with-original-medicinal-capsule-consisting-red-white-parts-different-medical-objects_1284-53615.jpg?w=826&t=st=1702045180~exp=1702045780~hmac=2f4e78fca18684256d1448b82a047934bbaf90832a5fdba67add871cac0d4281");
//   background-repeat: no-repeat;
//   background-size: cover;

// }

body.body-profile::after {
  content: "";
  // background: url('https://img.freepik.com/premium-photo/top-view-assortment-drug-medicine-with-copy-space_23-2148430083.jpg?w=2000');
  opacity: 0.7; /* Adjust to suit your needs */
  top: 0; /* Start from the middle of the container */
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;


}

.card.show {
  // border: 1px solid #ffffff; /* Thin white border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  width: 350px; /* Adjust the width as needed */

}

.card-body-show {
  padding: 20px;
  background-color: #d1d3f2;
  border-radius: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.btn-profile {
  margin-right: 10px;
}
