.nav--icons {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    li {
      a {
        font-family: sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        text-decoration: none;
        color: black;
        line-height: 1;
        vertical-align: middle;

        display: flex;
        align-items: center;

        border-radius: 3em;
        padding: .75em 1.25em;
        transition: .6s ease-in-out;

        span {
          display: inline-block;
          overflow: hidden;
          max-width: 0;
          opacity: 0;
          padding-left: .5em;
          transform: translate3d(-.5em, 0, 0);
          transition: opacity .6s, max-width .6s, transform .6s;
          transition-timing-function: ease-in-out;
        }
        &:hover, &.is-active {
          color: white;
          background-color: black;
          span {
            opacity: 1;
            max-width: 40px;
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }
}
