.notification-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.notification-card button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.notification-card button:hover {
  background-color: #c0392b;
}
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
// #notificationsList{
//   margin-top:-18636px;
//   margin-right: 9px;
//   margin-bottom: 9px;
//   margin-left:9px;
// }
.notification-card.closed {
  opacity: 0.5;
}
