<!-- destroy.html.erb -->
<!-- <h1>Delete Medication</h1> -->
<!-- <p>Are you sure you want to delete this medication?</p> -->
<%#= button_to 'Yes', medication_path ( @medication), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete' %>
<%#= button_to 'No', medications_path, title: 'Back', class: "btn btn-primary", method: :get %> <!-- This will create a primary back button -->
