<!-- app/views/medications/show.html.erb -->
<div class="container">
  <h1><%= @medication.name %></h1>

  <% if @medication.frequency %>
    <p><strong>Frequency:</strong> <%= @medication.frequency.name %></p>
  <% else %>
    <p><strong>Frequency:</strong> Not specified</p>
  <% end %>

  <%= link_to 'Edit', edit_medication_path(@medication), class: 'btn btn-primary' %>
  <%= link_to 'Delete', @medication, data: { turbo_method: :delete, confirm: 'Are you sure?' }, class: 'btn btn-danger btn-delete' %>
</div>
