
    <title>Animated Bottom Navigation Bar</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <div class="container">
      <div class="tabbar tab-style5">
        <ul class="flex-center">
         <li id="home-tab" class="home active" data-where="home"><span class="material-icons-outlined">medication</span></li>
  <li id="add-tab" class="about" data-where="add"><span class="material-icons-outlined">add</span></li>
  <li id="user-tab" class="help" data-where="user"><span class="material-icons-outlined">person</span></li>
</ul>
          </li>
        </ul>
      </div>
    </div>


