<li>
  <%= link_to medications_path, class: "icon-link" do %>
    <i class="fas fa-home"></i>
    <span>Home</span>
    <!-- <span>Home</span> -->
  <% end %>
</li>
<li>
  <%= link_to new_medication_path, class: "icon-link" do %>
    <i class="fas fa-plus"></i>
    <span>Add</span>
    <!-- <span>Add</span> -->
  <% end %>
</li>
<li>
  <%= link_to profile_path, class: "icon-link" do %>
    <i class="fas fa-user"></i>
    <span>User</span>
    <!-- <span>User</span> -->
  <% end %>
</li>
</ul>
