<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
   <%= image_tag "https://i.ibb.co/pnQg7fW/Male-avatar-portrait-of-a-young-man-with-a-beard-Vector-illustration-of-male-character-in-modern-col.jpg", class: "avatar", alt: "avatar" %>
<% if @user_signed_in %>
  <div class="hello-msg"> <h2>Hi </h2></div>
<% end %>

 <img src="https://i.ibb.co/0hnFzHs/logo-white-removebg-preview-1.png" alt="Your Image" class="navbar-img-small">

</div>

  </div>
</div>
