<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to image_tag("https://kitt.lewagon.com/placeholder/users/jtaurah", class: "avatar", alt: "avatar"), profile_path %>
<% if @user %>
  <div class="hello-msg"> <h2>Hello, <%= @user.name %>!</h2></div>
<% end %>

 <img src="https://i.ibb.co/ZfmhmLt/logo-no-background.png" alt="Your Image" class="navbar-img-small">

</div>

  </div>
</div>
  