<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
   <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
<% if @user %>
  <div class="hello-msg"> <h2>Hi, <%= @user.name %>!</h2></div>
<% end %>

 <img src="https://i.ibb.co/ZfmhmLt/logo-no-background.png" alt="Your Image" class="navbar-img-small">

</div>

  </div>
</div>
