
<% if @notifications.present? && @notifications.respond_to?(:each) %>
  <% @notifications.each do |notification| %>
    <% unless notification.read? %>
      <div class="alert alert-info">
        <%= notification.message %>
      </div>
    <% end %>
  <% end %>
<% end %>
