<div id="notificationsContainer">
  <% if @notifications.present? %>
    <% @notifications.each do |notification| %>
      <div data-controller="notification" data-id="<%= notification.id %>" class="notification-card <%= 'closed' if notification.closed %>">
        <p class="notification-message"><%= notification.message %></p>
        <button data-action="click->notification#close" class="close-notification">Close</button>
      </div>
    <% end %>
  <% else %>
    <p>No notifications available.</p>
  <% end %>
</div>
