<body class ='body-home'>



<div class="d-flex align-items-center justify-content-center no-scroll">
  <div class="logo-container text-center">
     <%# <h1>Welcome to</h1> %>
   <img src="https://i.ibb.co/ZfmhmLt/logo-no-background.png" alt="pills" class= "logo">
  </div>
</div>


<div class="h2-container">
  <div class="stay-healthy">
  <h4>Never Miss a Dose Again</h4>
  <p>Your path to better medication management and a healthier,happier you. Tap'Get Started' and discover how Care4Self can make your life easier and your health better</p>
  <%= link_to "Get Started", medications_path, class: "rounded-btn w-100" %>
  </div>
</div>

<%# <img src="https://i.ibb.co/LYjkjBn/hghgh-removebg-preview.png" class= "logo2"> %>

<div class="reviews-note">
  <p>User Reviews</p>
</div>

<div class="reviews-container">
  <div class="review-box">
    <h1>Grand Mere Suzanne</h1>
    <p>"Care4Self, because remembering your meds shouldn't be as challenging as finding matching socks in the laundry."</p>
  </div>

  <div class="review-box">
    <h1>Pierre Paul Jack</h1>
    <p>"If life gives you lemons, make lemonade. If it gives you meds, Care4Self makes sure you don’t forget to take them!"</p>
  </div>

  <div class="review-box">
    <h1>Peros Vert</h1>
    <p>"Care4Self, because remembering your meds should be easier than remembering your WiFi password (seriously, what is it again?)."</p>
  </div>

 <div class="review-box">
    <h1>Albert</h1>
    <p>"Care4Self: A reliable companion in my health journey, making medication reminders feel like a friendly nudge from a caring friend."</p>
  </div>
</div>
</body>
