<div class="d-flex align-items-center justify-content-center">
  <div class="logo-container text-center">
  <img src="https://i.ibb.co/YP2cQCX/oie-jpg.png" alt="oie-jpg" class="logo">
    <h1>Welcome to Care4Self</h1>
  </div>
</div>

<div class="front_page_text text-center">
  <div class="h2-container">
    <h2>Sending you reminders to take your medications so you can stay healthy!</h2>
  </div>
</div>

<% unless user_signed_in? %>
  <div class="text-center mac">
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>

 <%= link_to new_user_registration_path do %>
    <p>New to Care4Self? Create an account</p>
  <% end %>
  </div>
<% end %>
