<div class = "d-flex align-items-center justify-content-center">
  <h1>Welcome to Care4Self</h1>
    </div>
      <div class = "front_page_text">
        <h2>Sending you reminders to take your medications so you can stay healthy !</h2>
          </div>
