<div class="d-flex align-items-center justify-content-center" class="no-scroll">
  <div class="logo-container text-center">
     <h1>Welcome to</h1>
   <img src="https://i.ibb.co/ZfmhmLt/logo-no-background.png" alt="pills" class= "logo">
  </div>
</div>
  <div class="h2-container">
    <h4>Stay healthy</h4>
    <h4>with medication reminders!</h4>
        <img src="https://i.ibb.co/DYLthyH/pill1-removebg-preview.png" alt="pill1-removebg-preview" class= "logo2">
  </div>

<% unless user_signed_in? %>
  <div class="text-center mac">
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary signin-button" %>

 <%= link_to new_user_registration_path do %>
    <p>New to Care4Self? Create an account</p>
  <% end %>
  </div>
<% end %>
  </div>
