<div class="d-flex align-items-center justify-content-center no-scroll">
  <div class="logo-container text-center">
     <%# <h1>Welcome to</h1> %>
   <img src="https://i.ibb.co/0hnFzHs/logo-white-removebg-preview-1.png" alt="pills" class= "logo">
  </div>
</div>


<div class="h2-container">
  <div class="stay-healthy">
  <h4>Stay healthy with medication reminders</h4>
  </div>
</div>

<img src="https://i.ibb.co/LYjkjBn/hghgh-removebg-preview.png" class= "logo2">

<div class="reviews-note">
  <p>Some client reviews:</p>
</div>

<div class="reviews-container">
  <div class="review-box">
    <h1>Grand Mere Suzanne</h1>
    <p>"Care4Self, because remembering your meds shouldn't be as challenging as finding matching socks in the laundry."</p>
  </div>

  <div class="review-box">
    <h1>Pierre Paul Jack</h1>
    <p>"If life gives you lemons, make lemonade. If it gives you meds, Care4Self makes sure you don’t forget to take them!"</p>
  </div>

  <div class="review-box">
    <h1>Peros Vert</h1>
    <p>"Care4Self, because remembering your meds should be easier than remembering your WiFi password (seriously, what is it again?)."</p>
  </div>

 <div class="review-box">
    <h1>Albert</h1>
    <p>"Care4Self: A reliable companion in my health journey, making medication reminders feel like a friendly nudge from a caring friend."</p>
  </div>
</div>

<div class="add-medicine-container">
  <p>To add a medicine, select <span class="plus-symbol">&#10133;</span></p>
</div>

<img src="https://i.ibb.co/DWGYv2y/fddsfs-removebg-preview.png" class="getwellsoon">

<% unless user_signed_in? %>
  <div class="text-center mac">
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary signin-button" %>

    <%= link_to new_user_registration_path do %>
      <p>New to Care4Self? Create an account</p>
    <% end %>
  </div>
<% end %>
</div>
