<!-- app/views/dashboard/index.html.erb -->
<!-- <h1>Medication Dashboard</h1>

<ul>
  <% @medications.each do |medication| %>
    <li>
    <%= medication.name %> <!-- Replace with actual attribute names --></li>
    <%#= link_to 'Edit', edit_medication_path(medication), class: 'edit-button' %>
    <%#= link_to 'Delete', medication_path(medication), method: :delete, data: { confirm: 'Are you sure you want to delete this medication?' }, class: 'delete-button' %>
    </#li>
    <#% end %>
</#ul>



<%#= link_to 'Add Medication', new_medication_path, class: 'add-button' %> -->
