.navbar-lewagon {
  justify-content: space-between;
  background: F1F3FE;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color: #F1F3FE;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
